html, body{margin:0;padding:0;}
.main {
margin:0 auto; /* Центрируем блоки */
width:100%; /* Задаем ширину 100%, чтобы сделать ее резиновой */
 /*max-width:700px; Устанавливаем максимальную ширину */
}
.inline div{
display:inline-block; /* Делаем блоки по горизонтали */
display: -moz-inline-stack; /* Для FireFox 2, тот же самый, что и inline-block */
vertical-align:top; /* Выравниваем их сверху */
/* min-height: 8vw; */
zoom: 1;
*display : inline;
/* height: fit-content; */
}

div.inline{font-size:0;} /* Ставим родителю значение 0, чтобы убрать отступы у блоков*/
.left-block{
background:#5C8399;
width:20%; /*Задаем ширину в процентах чтобы сделать ее резиновой*/
min-height: 8vw;
}
.mid_block{
background:#295066;
width:65%;
height: 48vw;
}
.right-block{
background:#0A2433;
width:5%;
min-height: 8vw;
}

.rm-link{
    padding-left: 2%;
    font-size: 5vw;
    color:#A3BDCC; 
    text-decoration:none; 
    cursor:pointer;  
}
.rm-link:hover{
    padding-left: 4%;
    font-size: 5vw;
    color:#CCECFF; 
    text-decoration:none; 
    cursor:pointer;  
}

/* 
@media (max-width:600px){
.inline div{
display:block; 
width:100%; 
height:100px;
}
} */
