.btn div { /* makes every small div 50% the size of the previous */
  width: 33.3%;
  height: 100%;
}
.btn {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  width: 98%;
  height: 27.5%;
}
.b1 div { /* makes every small div 50% the size of the previous */
  width: 33.3%;
  height: 100%;
}
.b1 {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  width: 98%;
  height: 10%;
}
.b2 {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  perspective: 50vw;
}
.b2 div { /* makes every small div 50% the size of the previous */
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;  
  transition: transform 1s;
  transform-style: preserve-3d;
}

.b2:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
  
  border: 0.01vw solid #0A2433;
  background: transparent;
  background: linear-gradient(to right, #0A2433, #5C8399);
  border-top-color: #A3BDCC;
  border-bottom-color: #0A2433;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
}

.back {
  color: #A3BDCC;
  transform: rotateY( 180deg );
}
.back{
  border-radius: 1%;  
  display: block;
  transition: all .35s;}

 